<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title> Exampro Learning Dashboard HTML Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/logo/favicon.png' %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">
    <!-- file upload -->
    <link rel="stylesheet" href="{% static 'assets/css/file-upload.css'%}">
    <!-- file upload -->
    <link rel="stylesheet" href="{% static 'assets/css/plyr.css'%}">
    <!-- DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css">
    <!-- full calendar -->
    <link rel="stylesheet" href="{% static 'assets/css/full-calendar.css'%}">
    <!-- jquery Ui -->
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.css'%}">
    <!-- editor quill Ui -->
    <link rel="stylesheet" href="{% static 'assets/css/editor-quill.css'%}">
    <!-- apex charts Css -->
    <link rel="stylesheet" href="{% static 'assets/css/apexcharts.css'%}">
    <!-- calendar Css -->
    <link rel="stylesheet" href="{% static 'assets/css/calendar.css'%}">
    <!-- jvector map Css -->
    <link rel="stylesheet" href="{% static 'assets/css/jquery-jvectormap-2.0.5.css'%}">
    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'assets/css/main.css'%}">
</head> 
<body>
    
<!--==================== Preloader Start ====================-->
  <div class="preloader">
    <div class="loader"></div>
  </div>
<!--==================== Preloader End ====================-->

<!--==================== Sidebar Overlay End ====================-->
<div class="side-overlay"></div>
<!--==================== Sidebar Overlay End ====================-->

    <!-- ============================ Sidebar Start ============================ -->

    {% include 'aside.html' %}
   
<!-- ============================ Sidebar End  ============================ -->

    <div class="dashboard-main-wrapper">
        {% include 'navbar.html' %}


        
        <div class="dashboard-body">

            <div class="breadcrumb-with-buttons mb-24 flex-between flex-wrap gap-8">
                <!-- Breadcrumb Start -->
<div class="breadcrumb mb-24">
    <ul class="flex-align gap-4">
        <li><a href="index" class="text-gray-200 fw-normal text-15 hover-text-main-600">Home</a></li>
        <li> <span class="text-gray-500 fw-normal d-flex"><i class="ph ph-caret-right"></i></span> </li>
        <li><span class="text-main-600 fw-normal text-15">Create Account</span></li>
    </ul>
</div>
<!-- Breadcrumb End -->

                <!-- Buttons Start -->
<div class="flex-align justify-content-end gap-8">
    <button type="button" class="btn btn-outline-main bg-main-100 border-main-100 text-main-600 rounded-pill py-9">Save as Draft</button>
    <button type="button" class="btn btn-main rounded-pill py-9" disabled>Publish Course</button>
</div>
<!-- Buttons End -->
            </div>

                <!-- Create Course Step List Start -->
    <ul class="step-list mb-24">
        <li class="step-list__item py-15 px-24 text-15 text-heading fw-medium flex-center gap-6  active">
            <span class="icon text-xl d-flex"><i class="ph ph-circle"></i></span> 
            Course Details
            <span class="line position-relative"></span>
        </li>
        <li class="step-list__item py-15 px-24 text-15 text-heading fw-medium flex-center gap-6  ">
            <span class="icon text-xl d-flex"><i class="ph ph-circle"></i></span> 
            Upload Videos
            <span class="line position-relative"></span>
        </li>
        <li class="step-list__item py-15 px-24 text-15 text-heading fw-medium flex-center gap-6  ">
            <span class="icon text-xl d-flex"><i class="ph ph-circle"></i></span> 
            About Course
            <span class="line position-relative"></span>
        </li>
        <li class="step-list__item py-15 px-24 text-15 text-heading fw-medium flex-center gap-6  ">
            <span class="icon text-xl d-flex"><i class="ph ph-circle"></i></span> 
            Create Quiz
            <span class="line position-relative"></span>
        </li>
        <li class="step-list__item py-15 px-24 text-15 text-heading fw-medium flex-center gap-6  ">
            <span class="icon text-xl d-flex"><i class="ph ph-circle"></i></span> 
            Publish Course
            <span class="line position-relative"></span>
        </li>
    </ul>
    <!-- Create Course Step List End -->

            <!-- Course Tab Start -->
            <div class="card">
                <div class="card-header border-bottom border-gray-100 flex-align gap-8">
                    <h5 class="mb-0">Course Details</h5>        
                    <button type="button" class="text-main-600 text-md d-flex" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Course Details">
                        <i class="ph-fill ph-question"></i>
                    </button>
                </div>
                <div class="card-body">
                    <form action="#">
                        <div class="row gy-20">
                            <div class="col-xxl-3 col-md-4 col-sm-5">
                                <div class="mb-20">
                                    <label class="h5 fw-semibold font-heading mb-0">Thumbnail Image <span class="text-13 text-gray-400 fw-medium">(Required)</span> </label>
                                </div>
                                <div id="fileUpload" class="fileUpload image-upload"></div>
                            </div>
                            <div class="col-xxl-9 col-md-8 col-sm-7">
                                <div class="row g-20">
                                    <div class="col-sm-12">
                                        <label for="courseTitle" class="h5 mb-8 fw-semibold font-heading">Thumbnail Image <span class="text-13 text-gray-400 fw-medium">(Required)</span> </label>
                                        <div class="position-relative">
                                            <input type="text" class="text-counter placeholder-13 form-control py-11 pe-76" maxlength="100" id="courseTitle" placeholder="Name of the Lesson">
                                            <div class="text-gray-400 position-absolute inset-inline-end-0 top-50 translate-middle-y me-16">
                                                <span id="current">18</span>
                                                <span id="maximum">/ 100</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="courseCategory" class="h5 mb-8 fw-semibold font-heading">Course Category </label>
                                        <div class="position-relative">
                                            <select id="courseCategory" class="form-select py-9 placeholder-13 text-15">
                                                <option value="1" disabled selected>Enter course category</option>
                                                <option value="2">Computer Science </option>
                                                <option value="2">Business </option>
                                                <option value="2">Management </option>
                                                <option value="2">Humanities </option>
                                                <option value="2">Data Science</option>
                                                <option value="2">Artificial Intelligence</option>
                                            </select>                                            
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="courseLevel" class="h5 mb-8 fw-semibold font-heading">Course Level</label>
                                        <div class="position-relative">
                                            <select id="courseLevel" class="form-select py-9 placeholder-13 text-15">
                                                <option value="1" disabled selected>Select course level</option>
                                                <option value="2">Course Level 1</option>
                                                <option value="2">Course Level 2</option>
                                                <option value="2">Course Level 3</option>
                                                <option value="2">Course Level 4</option>
                                                <option value="2">Course Level 5</option>
                                                <option value="2">Course Level 6</option>
                                            </select>                                            
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="courseTime" class="h5 mb-8 fw-semibold font-heading">Course Time</label>
                                        <div class="position-relative">
                                            <select id="courseTime" class="form-select py-9 placeholder-13 text-15">
                                                <option value="1" disabled selected>Enter course category</option>
                                                <option value="2">5 Hours</option>
                                                <option value="2">10 Hours</option>
                                                <option value="2">15 Hours</option>
                                                <option value="2">20 Hours</option>
                                            </select>                                            
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="courseLesson" class="h5 mb-8 fw-semibold font-heading">Total Lesson</label>
                                        <div class="position-relative">
                                            <select id="courseLesson" class="form-select py-9 placeholder-13 text-15">
                                                <option value="1" disabled selected>Enter course category</option>
                                                <option value="2">Objectives</option>
                                                <option value="2">Activities</option>
                                                <option value="2">Materials</option>
                                                <option value="2">Timeline</option>
                                                <option value="2">Take home tasks</option>
                                                <option value="2">Pedagogical methods</option>
                                                <option value="2">Teacher's expectations </option>
                                                <option value="2">Assessment</option>
                                            </select>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-align justify-content-end gap-8">
                                <a href="mentor-courses" class="btn btn-outline-main rounded-pill py-9">Cancel</a>
                                <a href="upload-videos" class="btn btn-main rounded-pill py-9">Continue</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Course Tab End -->
        </div>
        <div class="dashboard-footer">
    <div class="flex-between flex-wrap gap-16">
        <p class="text-gray-300 text-13 fw-normal"> &copy; Copyright Exampro 2024, All Right Reserverd</p>
        <div class="flex-align flex-wrap gap-16">
            <a href="#" class="text-gray-300 text-13 fw-normal hover-text-main-600 hover-text-decoration-underline">License</a>
            <a href="#" class="text-gray-300 text-13 fw-normal hover-text-main-600 hover-text-decoration-underline">More Themes</a>
            <a href="#" class="text-gray-300 text-13 fw-normal hover-text-main-600 hover-text-decoration-underline">Documentation</a>
            <a href="#" class="text-gray-300 text-13 fw-normal hover-text-main-600 hover-text-decoration-underline">Support</a>
        </div>
    </div>
</div>
    </div>
    
        <!-- Jquery js -->
    <script src="{% static 'assets/js/jquery-3.7.1.min.js'%}"></script>
    <!-- Bootstrap Bundle Js -->
    <script src="{% static 'assets/js/boostrap.bundle.min.js'%}"></script>
    <!-- Phosphor Js -->
    <script src="{% static 'assets/js/phosphor-icon.js'%}"></script>
    <!-- file upload -->
    <script src="{% static 'assets/js/file-upload.js'%}"></script>
    <!-- file upload -->
    <script src="{% static 'assets/js/plyr.js'%}"></script>
    <!-- dataTables -->
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
    <!-- full calendar -->
    <script src="{% static 'assets/js/full-calendar.js' %}"></script>
    <!-- jQuery UI -->
    <script src="{% static 'assets/js/jquery-ui.js' %}"></script>
    <!-- jQuery UI -->
    <script src="{% static 'assets/js/editor-quill.js'%}"></script>
    <!-- apex charts -->
    <script src="{% static 'assets/js/apexcharts.min.js'%}"></script>
    <!-- jvectormap Js -->
    <script src="{% static 'assets/js/jquery-jvectormap-2.0.5.min.js'%}"></script>
    <!-- jvectormap world Js -->
    <script src="{% static 'assets/js/jquery-jvectormap-world-mill-en.js'%}"></script>
    
    <!-- main js -->
    <script src="{% static 'assets/js/main.js'%}"></script>


    </body>
</html>