<!DOCTYPE html>
<html lang=en>

<head>
    {% load static %}
    <meta charset=UTF-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <title> Exampro Examination Page</title>
    <link rel="shortcut icon" href="{% static 'assets/images/logo/favicon.png'%}">
    <link rel=stylesheet href="{% static 'assets/css/bootstrap.min.css'%}">
    <link rel=stylesheet href="{% static 'assets/css/file-upload.css'%}">
    <link rel=stylesheet href="{% static 'assets/css/plyr.css'%}">
    <link rel=stylesheet href=https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css>
    <link rel=stylesheet href="{% static 'assets/css/full-calendar.css'%}">
    <link rel=stylesheet href="{% static 'assets/css/jquery-ui.css'%}">
    <link rel=stylesheet href="{% static 'assets/css/editor-quill.css'%}">
    <link rel=stylesheet href="{% static 'assets/css/apexcharts.css'%}">
    <link rel=stylesheet href="{% static 'assets/css/calendar.css'%}">
    <link rel=stylesheet href="{% static 'assets/css/jquery-jvectormap-2.0.5.css'%}">
    <link rel=stylesheet href="{% static 'assets/css/main.css'%}">
</head>

<body>
    <div class=preloader>
        <div class=loader></div>
    </div>
    <div class=side-overlay></div>
    {% include 'aside.html' %}
    <div class=dashboard-main-wrapper>
        {% include 'navbar.html' %}
        <div class=dashboard-body>
            <div class="breadcrumb mb-24">
                <ul class="flex-align gap-4">
                    <li><a href=index class="text-gray-200 fw-normal text-15 hover-text-main-600">Home</a></li>
                    <li> <span class="text-gray-500 fw-normal d-flex"><i class="ph ph-caret-right"></i></span> </li>
                    <li><span class="text-main-600 fw-normal text-15">All Exams</span></li>
                </ul>
            </div>
            <div class="card mt-24">
                <div class=card-body>
                    <div class="mb-20 flex-between flex-wrap gap-8">
                        <h4 class=mb-0>Recommended For You</h4>
                        <div class="flex-align gap-8 flex-wrap">
                            <div
                                class="flex-align text-gray-500 text-13 border border-gray-100 rounded-4 ps-8 focus-border-main-600">
                                <span class=text-lg><i class="ph ph-layout"></i></span>
                                <select class="form-control px-8 py-12 border-0 text-inherit rounded-4 text-center">
                                    <option value=1 selected disabled>Category</option>
                                    <option value=1>Web</option>
                                    <option value=1>Design</option>
                                    <option value=1>App</option>
                                    <option value=1>SEO</option>
                                </select>
                            </div>
                            <div class="position-relative text-gray-500 flex-align gap-4 text-13">
                                <span class=text-inherit>Sort by: </span>
                                <div
                                    class="flex-align text-gray-500 text-13 border border-gray-100 rounded-4 ps-8 focus-border-main-600">
                                    <span class=text-lg><i class="ph ph-funnel-simple"></i></span>
                                    <select class="form-control px-8 py-12 border-0 text-inherit rounded-4 text-center">
                                        <option value=1 selected>Popular</option>
                                        <option value=1>Latest</option>
                                        <option value=1>Trending</option>
                                        <option value=1>Matches</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-20">
                        <div class="col-xxl-3 col-lg-4 col-sm-6">
                            <div class="card border border-gray-100">
                                <div class="card-body p-8">
                                    <a href=course-details
                                        class="bg-main-100 rounded-8 overflow-hidden text-center mb-8 h-164 flex-center p-8">
                                        <img src="{% static 'assets/images/thumbs/course-img1.png'%}"
                                            alt="Course Image">
                                    </a>
                                    <div class=p-8>
                                        <span
                                            class="text-13 py-2 px-10 rounded-pill bg-success-50 text-success-600 mb-16">Development</span>
                                        <h5 class=mb-0><a href=course-details class=hover-text-main-600>Full Stack Web
                                                Development</a></h5>
                                        <div class="flex-align gap-8 flex-wrap mt-16">
                                            <img src="{% static 'assets/images/thumbs/user-img1.png'%}"
                                                class="w-28 h-28 rounded-circle object-fit-cover" alt="User Image">
                                            <div>
                                                <span class="text-gray-600 text-13">Created by <a href=profile
                                                        class="fw-semibold text-gray-700 hover-text-main-600 hover-text-decoration-underline">Albert
                                                        James</a> </span>
                                            </div>
                                        </div>
                                        <div class="flex-align gap-8 mt-12 pt-12 border-top border-gray-100">
                                            <div class="flex-align gap-4">
                                                <span class="text-sm text-main-600 d-flex"><i
                                                        class="ph ph-video-camera"></i></span>
                                                <span class="text-13 text-gray-600">24 Lesson</span>
                                            </div>
                                            <div class="flex-align gap-4">
                                                <span class="text-sm text-main-600 d-flex"><i
                                                        class="ph ph-clock"></i></span>
                                                <span class="text-13 text-gray-600">40 Hours</span>
                                            </div>
                                        </div>
                                        <div class="flex-between gap-4 flex-wrap mt-24">
                                            <div class="flex-align gap-4">
                                                <span class="text-15 fw-bold text-warning-600 d-flex"><i
                                                        class="ph-fill ph-star"></i></span>
                                                <span class="text-13 fw-bold text-gray-600">4.9</span>
                                                <span class="text-13 fw-bold text-gray-600">(12k)</span>
                                            </div>
                                            <a href=course-details class="btn btn-outline-main rounded-pill py-9">View
                                                Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-lg-4 col-sm-6">
                            <div class="card border border-gray-100">
                                <div class="card-body p-8">
                                    <a href=course-details
                                        class="bg-main-100 rounded-8 overflow-hidden text-center mb-8 h-164 flex-center p-8">
                                        <img src="{% static 'assets/images/thumbs/course-img5.png'%}"
                                            alt="Course Image">
                                    </a>
                                    <div class=p-8>
                                        <span
                                            class="text-13 py-2 px-10 rounded-pill bg-warning-50 text-warning-600 mb-16">Design</span>
                                        <h5 class=mb-0><a href=course-details class=hover-text-main-600>Design
                                                System</a></h5>
                                        <div class="flex-align gap-8 flex-wrap mt-16">
                                            <img src="{% static 'assets/images/thumbs/user-img5.png'%}"
                                                class="w-28 h-28 rounded-circle object-fit-cover" alt="User Image">
                                            <div>
                                                <span class="text-gray-600 text-13">Created by <a href=profile
                                                        class="fw-semibold text-gray-700 hover-text-main-600 hover-text-decoration-underline">Albert
                                                        James</a> </span>
                                            </div>
                                        </div>
                                        <div class="flex-align gap-8 mt-12 pt-12 border-top border-gray-100">
                                            <div class="flex-align gap-4">
                                                <span class="text-sm text-main-600 d-flex"><i
                                                        class="ph ph-video-camera"></i></span>
                                                <span class="text-13 text-gray-600">24 Lesson</span>
                                            </div>
                                            <div class="flex-align gap-4">
                                                <span class="text-sm text-main-600 d-flex"><i
                                                        class="ph ph-clock"></i></span>
                                                <span class="text-13 text-gray-600">40 Hours</span>
                                            </div>
                                        </div>
                                        <div class="flex-between gap-4 flex-wrap mt-24">
                                            <div class="flex-align gap-4">
                                                <span class="text-15 fw-bold text-warning-600 d-flex"><i
                                                        class="ph-fill ph-star"></i></span>
                                                <span class="text-13 fw-bold text-gray-600">4.9</span>
                                                <span class="text-13 fw-bold text-gray-600">(12k)</span>
                                            </div>
                                            <a href=course-details class="btn btn-outline-main rounded-pill py-9">View
                                                Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-lg-4 col-sm-6">
                            <div class="card border border-gray-100">
                                <div class="card-body p-8">
                                    <a href=course-details
                                        class="bg-main-100 rounded-8 overflow-hidden text-center mb-8 h-164 flex-center p-8">
                                        <img src="{% static 'assets/images/thumbs/course-img6.png'%}"
                                            alt="Course Image">
                                    </a>
                                    <div class=p-8>
                                        <span
                                            class="text-13 py-2 px-10 rounded-pill bg-danger-50 text-danger-600 mb-16">Frontend</span>
                                        <h5 class=mb-0><a href=course-details class=hover-text-main-600>React Native
                                                Courese</a></h5>
                                        <div class="flex-align gap-8 flex-wrap mt-16">
                                            <img src="{% static 'assets/images/thumbs/user-img6.png'%}"
                                                class="w-28 h-28 rounded-circle object-fit-cover" alt="User Image">
                                            <div>
                                                <span class="text-gray-600 text-13">Created by <a href=profile
                                                        class="fw-semibold text-gray-700 hover-text-main-600 hover-text-decoration-underline">Albert
                                                        James</a> </span>
                                            </div>
                                        </div>
                                        <div class="flex-align gap-8 mt-12 pt-12 border-top border-gray-100">
                                            <div class="flex-align gap-4">
                                                <span class="text-sm text-main-600 d-flex"><i
                                                        class="ph ph-video-camera"></i></span>
                                                <span class="text-13 text-gray-600">24 Lesson</span>
                                            </div>
                                            <div class="flex-align gap-4">
                                                <span class="text-sm text-main-600 d-flex"><i
                                                        class="ph ph-clock"></i></span>
                                                <span class="text-13 text-gray-600">40 Hours</span>
                                            </div>
                                        </div>
                                        <div class="flex-between gap-4 flex-wrap mt-24">
                                            <div class="flex-align gap-4">
                                                <span class="text-15 fw-bold text-warning-600 d-flex"><i
                                                        class="ph-fill ph-star"></i></span>
                                                <span class="text-13 fw-bold text-gray-600">4.9</span>
                                                <span class="text-13 fw-bold text-gray-600">(12k)</span>
                                            </div>
                                            <a href=course-details class="btn btn-outline-main rounded-pill py-9">View
                                                Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-lg-4 col-sm-6">
                            <div class="card border border-gray-100">
                                <div class="card-body p-8">
                                    <a href=course-details
                                        class="bg-main-100 rounded-8 overflow-hidden text-center mb-8 h-164 flex-center p-8">
                                        <img src="{% static 'assets/images/thumbs/course-img4.png'%}"
                                            alt="Course Image">
                                    </a>
                                    <div class=p-8>
                                        <span
                                            class="text-13 py-2 px-10 rounded-pill bg-info-50 text-info-600 mb-16">SEO</span>
                                        <h5 class=mb-0><a href=course-details class=hover-text-main-600>Search Engine
                                                Optimization</a></h5>
                                        <div class="flex-align gap-8 flex-wrap mt-16">
                                            <img src="{% static 'assets/images/thumbs/user-img4.png'%}"
                                                class="w-28 h-28 rounded-circle object-fit-cover" alt="User Image">
                                            <div>
                                                <span class="text-gray-600 text-13">Created by <a href=profile
                                                        class="fw-semibold text-gray-700 hover-text-main-600 hover-text-decoration-underline">Albert
                                                        James</a> </span>
                                            </div>
                                        </div>
                                        <div class="flex-align gap-8 mt-12 pt-12 border-top border-gray-100">
                                            <div class="flex-align gap-4">
                                                <span class="text-sm text-main-600 d-flex"><i
                                                        class="ph ph-video-camera"></i></span>
                                                <span class="text-13 text-gray-600">24 Lesson</span>
                                            </div>
                                            <div class="flex-align gap-4">
                                                <span class="text-sm text-main-600 d-flex"><i
                                                        class="ph ph-clock"></i></span>
                                                <span class="text-13 text-gray-600">40 Hours</span>
                                            </div>
                                        </div>
                                        <div class="flex-between gap-4 flex-wrap mt-24">
                                            <div class="flex-align gap-4">
                                                <span class="text-15 fw-bold text-warning-600 d-flex"><i
                                                        class="ph-fill ph-star"></i></span>
                                                <span class="text-13 fw-bold text-gray-600">4.9</span>
                                                <span class="text-13 fw-bold text-gray-600">(12k)</span>
                                            </div>
                                            <a href=course-details class="btn btn-outline-main rounded-pill py-9">View
                                                Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="flex-between flex-wrap gap-8 mt-20">
                        <a href=# class="btn btn-outline-gray rounded-pill py-9 flex-align gap-4">
                            <span class="d-flex text-xl"><i class="ph ph-arrow-left"></i></span>
                            Previous
                        </a>
                        <ul class="pagination flex-align flex-wrap">
                            <li class="page-item active">
                                <a class="page-link h-44 w-44 flex-center text-15 rounded-8 fw-medium" href=#>1</a>
                            </li>
                            <li class=page-item>
                                <a class="page-link h-44 w-44 flex-center text-15 rounded-8 fw-medium" href=#>2</a>
                            </li>
                            <li class=page-item>
                                <a class="page-link h-44 w-44 flex-center text-15 rounded-8 fw-medium" href=#>3</a>
                            </li>
                            <li class=page-item>
                                <a class="page-link h-44 w-44 flex-center text-15 rounded-8 fw-medium" href=#>...</a>
                            </li>
                            <li class=page-item>
                                <a class="page-link h-44 w-44 flex-center text-15 rounded-8 fw-medium" href=#>8</a>
                            </li>
                            <li class=page-item>
                                <a class="page-link h-44 w-44 flex-center text-15 rounded-8 fw-medium" href=#>9</a>
                            </li>
                            <li class=page-item>
                                <a class="page-link h-44 w-44 flex-center text-15 rounded-8 fw-medium" href=#>10</a>
                            </li>
                        </ul>
                        <a href=# class="btn btn-outline-main rounded-pill py-9 flex-align gap-4">
                            Next <span class="d-flex text-xl"><i class="ph ph-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class=dashboard-footer>
            <div class="flex-between flex-wrap gap-16">
                <p class="text-gray-300 text-13 fw-normal"> &copy; Copyright Exampro 2024, All Right Reserverd</p>
                <div class="flex-align flex-wrap gap-16">
                    <a href=#
                        class="text-gray-300 text-13 fw-normal hover-text-main-600 hover-text-decoration-underline">License</a>
                    <a href=#
                        class="text-gray-300 text-13 fw-normal hover-text-main-600 hover-text-decoration-underline">More
                        Themes</a>
                    <a href=#
                        class="text-gray-300 text-13 fw-normal hover-text-main-600 hover-text-decoration-underline">Documentation</a>
                    <a href=#
                        class="text-gray-300 text-13 fw-normal hover-text-main-600 hover-text-decoration-underline">Support</a>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'assets/js/jquery-3.7.1.min.js'%}"></script>
    <script src="{% static 'assets/js/boostrap.bundle.min.js'%}"></script>
    <script src="{% static 'assets/js/phosphor-icon.js'%}"></script>
    <script src="{% static 'assets/js/file-upload.js'%}"></script>
    <script src="{% static 'assets/js/plyr.js'%}"></script>
    <script src=https://cdn.datatables.net/2.0.8/js/dataTables.min.js></script>
    <script src="{% static 'assets/js/full-calendar.js'%}"></script>
    <script src="{% static 'assets/js/jquery-ui.js'%}"></script>
    <script src="{% static 'assets/js/editor-quill.js'%}"></script>
    <script src="{% static 'assets/js/apexcharts.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery-jvectormap-2.0.5.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery-jvectormap-world-mill-en.js'%}"></script>
    <script src="{% static 'assets/js/main.js'%}"></script>
</body>

</html>